@using Abp.Authorization.Users
@using Mahjong.Web.Models.Common.Modals
@using Mahjong.Web.Models.Tables
@model EditTableModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditTable")))
<form name="TableEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Table.Id" />
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Name")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="Name" value="@Model.Table.Name" required maxlength="100">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Description")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="Description" value="@Model.Table.Description">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Status")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="Status" value="@Model.Table.Status" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Min Amount")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="MinAmount" value="@Model.Table.MinAmount" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Max Amount")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="MaxAmount" value="@Model.Table.MaxAmount" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Commission Rate")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="CommissionRate" value="@Model.Table.CommissionRate" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("Round")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="Round" value="@Model.Table.Round" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate1")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate1" value="@Model.Table.PayCommissionRate1" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate2")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate2" value="@Model.Table.PayCommissionRate2" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate3")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate3" value="@Model.Table.PayCommissionRate3" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate4")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate4" value="@Model.Table.PayCommissionRate4" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate5")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate5" value="@Model.Table.PayCommissionRate5" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate6")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate6" value="@Model.Table.PayCommissionRate6" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate7")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate7" value="@Model.Table.PayCommissionRate7" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate8")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate8" value="@Model.Table.PayCommissionRate8" required>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">@L("PayCommissionRate9")</label>
            <div class="col-md-9">
                <input id="name" type="text" class="form-control" name="PayCommissionRate9" value="@Model.Table.PayCommissionRate9" required>
            </div>
        </div>
    </div>
</form>

<script src="~/view-resources/Views/Tables/_HistoryModal.js" asp-append-version="true"></script>
